
.recycler-container{
  /*overflow-y:scroll;*/
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  height: 300px;
  background-color: beige;
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 80px;
  /*absolute 导致overflow 失效， 设置父布局*/
  position: absolute;
}
.item-img{
  width: 60px;
  height: 60px;
  object-position: center;
  object-fit: contain;
}
.item-right-block{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-title{
  font-size: 16px;
}
.item-description{
  color: lightslategrey;
  font-size: 13px;
}
